#gameOver {
    display: none;
    font-size: 40px;
}

#questions, #timeLeft{
    display: block;
}

@font-face{
    font-family: "dnd";
    src: url(../fonts/MedievalSharp.ttf)
}

body {
    background: url(../images/f54890248-1.jpg); 
    background-color: #efe8d4;
    font-family: 'dnd', cursive;
    font-weight: bold;
    background-size: cover;
}

#timeLeft{
    color:#691817;
    font-size: 30px;
}

#main{
    max-width: 400px;
    border-bottom:solid 5px goldenrod;
    border-top: solid 5px goldenrod;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 2.5px grey;
    background-color: #efe8d4;
}

h1{
    font-size: 40px;
}

#questions{
    font-size: 20px;
}

#potion, #sword{
    max-width: 40px;
}

#logo{
    max-width: 80px;
}

li{
    border: 3px solid #cfb780;
    margin: 5px;
    background-color: cornsilk;
}

.container{
max-width: 400px;
background-color: #efe8d4;
}

#submitButton{
    margin-top: 5px;
    margin-bottom: 5px;
}